body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color:#22100d;
    padding: 10px 0;
}

.container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.btn {
    background-color: #00aaff;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
